# ======================================
# Python
# ======================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# ======================================
# Entornos virtuales
# ======================================
.venv/
venv/
env/

# ======================================
# PyInstaller
# ======================================
build/
dist/
*.spec
*.exe

# ======================================
# PyCharm / JetBrains
# ======================================
.idea/

# ======================================
# Archivos del sistema operativo
# ======================================
.DS_Store
Thumbs.db
desktop.ini

# ======================================
# Otros temporales o backups
# ======================================
*.log
*.tmp
*.bak
